// Home Page Styles

.home-section {
  &__create {
    width: 100%;
    outline: none;
    border: none;
    background: $orange;
    color: white;
    padding: $spacer-small * 0.5 $spacer;
    border-radius: 25px;
    font-size: $main-fs * 0.5;
    font-weight: bold;
    margin-bottom: $spacer-small * 1.5;
  }

  &__tabs {
    margin-bottom: $spacer * 0.5;
  }

  &__tab {
    outline: none;
    border: 2px solid $primary;
    background: transparent;
    color: $primary;
    padding: $spacer-small * 0.35 $spacer;
    border-radius: 25px;
    margin-right: $spacer-small * 0.75;
  }

  &__tab-active {
    background: $primary;
    color: white;
  }
}

// Games Section
.games-section {
  &__game {
    margin-bottom: $spacer-small;
    background: $dark-bg;
    padding: $spacer-small;
    border-radius: 10px;
  }

  &__game-title {
    color: $primary;
    margin-bottom: $spacer-small;
    font-size: $main-fs * 0.8;
  }

  &__game-info {
    color: white;
    margin-bottom: $spacer-small;
    font-size: $main-fs * 0.55;

    span {
      color: $grey;
    }
  }

  .status-0 {
    color: $red;
  }

  .status-1 {
    color: $primary;
  }

  .status-2 {
    color: $lime;
  }

  &__btn {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    color: $orange;
    font-weight: bold;
    font-size: $main-fs * 0.65;
    text-decoration: none;
  }
}

// Create Game Popup
.cg-popup {
  background: $sec-bg;
  border-radius: 10px;
  padding: $spacer;
  box-shadow: 0 0 15px 3px rgba(black, 0.15);
  width: 90%;
  height: fit-content;

  &__title {
    color: white;
    font-size: $main-fs * 0.85;
    font-weight: 500;
    margin-bottom: $spacer;
  }

  &__label {
    color: $primary;
    font-size: $main-fs * 0.65;
    margin-bottom: $spacer-small;
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacer-small;
  }

  &__date-btn {
    outline: none;
    border: 2px solid $orange;
    background: transparent;
    color: $orange;
    margin-bottom: $spacer-small;
    border-radius: 25px;
    padding: $spacer-small * 0.35 $spacer;
  }

  &__input {
    outline: none;
    border: 2px solid $dark-bg;
    background: $dark-bg;
    color: white;
    padding: $spacer-small * 0.5;
    border-radius: 5px;
    transition: all 200ms ease-out;

    &:focus {
      border: 2px solid $primary;
    }
  }

  .ap-popup__player-name {
    color: white;
  }

  .add-players-input {
    margin-bottom: $spacer;
  }

  &__submit,
  &__cancel {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    background: $primary;
    color: white;
    padding: $spacer-small * 0.35 $spacer;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: $spacer-small;
  }

  &__cancel {
    background: $red;
  }
}

// Players Section
.players-section {
  width: 100%;
  margin-top: $spacer;
}

.player-card {
  width: 80%;
  background: $dark-bg;
  border-radius: 5px;
  padding: $spacer-small * 1.5;
  margin-bottom: $spacer * 1.5;

  &__img-box {
    $s: 10rem;
    width: $s;
    height: $s;
    border-radius: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    border-bottom: 5px solid $primary;
    margin: $spacer $spacer;
    margin-bottom: $spacer-small;

    img {
      $s: 100%;
      width: $s;
      height: $s;
      object-fit: cover;
      filter: drop-shadow(5px 5px 5px rgba(black, 0.5));
    }
  }

  &__name {
    color: white;
    font-size: $main-fs * 0.8;
    margin-bottom: $spacer-small;

    span {
      font-size: $main-fs * 0.65;
      color: $grey;
    }
  }

  &__title {
    width: fit-content;
    color: $orange;
    background: $sec-bg;
    text-align: center;
    padding: $spacer-small * 0.35 $spacer-md;
    font-weight: 500;
    border-radius: 10px;
    margin-bottom: $spacer-small;
  }

  &__game {
    width: 90%;
    color: $primary;
    background: $primary;
    padding: $spacer-small * 0.75 $spacer-small;
    border-radius: 5px;
    background: $pri-bg;
    margin-bottom: $spacer-small * 0.75;
    text-decoration: none;

    span {
      font-size: $main-fs * 0.5;
      color: white;
    }
  }

  &__none {
    color: $primary;
  }
}

// Swiper
.player-cards-swiper {
  width: 100%;
  height: fit-content;
  --swiper-pagination-color: #81d2c7;
}
