/* Variables */

/* Colors */
$primary: #81d2c7;
$pri-bg: #003d53;
$sec-bg: #0c3747;
$dark-bg: #19313a;
$grey: #b3b3b3;
$lime: #32cd32;
$red: #ff3939;
$orange: #ffac14;

/* Font */
$main-fs: 1.5rem;
$md-fs: $main-fs * 1.5;
$lg-fs: $md-fs * 1.5;
$main-fw: bold;
$pri-font: "Oswald", sans-serif;
$sec-font: "Poetsen One", sans-serif;

/* Spacers */
$spacer-small: 1rem;
$spacer: $spacer-small * 2;
$spacer-md: $spacer * 2;
$spacer-lg: $spacer-md * 2;
$spacer-xlg: $spacer-lg * 2;
