/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* My Code */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Variables */
/* Colors */
/* Font */
/* Spacers */
.between-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.around-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.center-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  flex-direction: column;
}
.home-container__links {
  width: 100%;
  margin-bottom: 8rem;
}
.home-container__link, .home-container__link-filled {
  width: 70%;
  outline: none;
  border: 2px solid #81d2c7;
  color: #81d2c7;
  padding: 0.5rem 0;
  border-radius: 25px;
  margin-bottom: 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 0.975rem;
}
.home-container__link-filled {
  background: #81d2c7;
  color: white;
}

.auth-container {
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.auth-form {
  width: 80%;
}
.auth-form__title {
  position: relative;
  color: white;
  font-size: 1.275rem;
  margin-bottom: 3rem;
  font-weight: 500;
}
.auth-form__title::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 2px;
  background-color: #005a7a;
  bottom: -1rem;
  left: 0;
}
.auth-form__input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}
.auth-form__label {
  margin-bottom: 0.75rem;
  color: #81d2c7;
}
.auth-form__label span {
  color: #ff3939;
}
.auth-form__input {
  outline: none;
  border: 2px solid #005a7a;
  background: #005a7a;
  padding: 0.45rem;
  border-radius: 5px;
  color: white;
}
.auth-form__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.auth-form__input-box-error input {
  border-color: rgba(255, 57, 57, 0.75);
}
.auth-form__input-box-valid input {
  border-color: rgba(50, 205, 50, 0.75);
}
.auth-form__error {
  color: #ff3939;
  background: rgba(255, 57, 57, 0.35);
  font-size: 0.825rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  line-height: 1rem;
}
.auth-form__submit {
  display: block;
  outline: none;
  border: none;
  background: #81d2c7;
  color: white;
  padding: 0.35rem 4rem;
  border-radius: 25px;
  margin: 2rem auto;
  margin-bottom: 1.25rem;
}
.auth-form__link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.975rem;
  font-weight: 300;
}
.auth-form__link span {
  color: #81d2c7;
  font-weight: 500;
}

body {
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
  background: #003d53;
}

.shadow-container {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.primary-background,
.secondary-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.loading-spinner p {
  margin-top: 2rem;
  color: white;
  background: #19313a;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #81d2c7;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spin {
  0%, 100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
.toast-container {
  background: transparent;
}

.error-message {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  width: 90%;
  background: #fbdddd;
  padding: 0.65rem;
  border-radius: 10px;
  border: 2px solid rgba(255, 57, 57, 0.75);
}
.error-message__triangle {
  margin-right: 0.5rem;
}
.error-message p {
  color: #ff3939;
  font-size: 0.975rem;
  line-height: 1rem;
}
.error-message__close {
  outline: none;
  border: none;
  background: transparent;
}
.error-message__close path {
  fill: #ff3939;
}/*# sourceMappingURL=main.css.map */